

.postContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: auto;
    
    border: solid 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h5-modified {
    text-align: left;
}
.ff{
    line-height: 9px;
}

.authorcontainer {
    background-color: gainsboro;
    height: auto;
    width: auto;
    text-align: center
}
.titleContainer {
    text-align: center;
    font-size: 30;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 2px black;
    width: auto;
    height: auto;
}

.input1 {
    background-color: red;
    margin-left: 80%;
    
}

.ContentContainer {
    font-size: 14;
    border-top: solid 2px black;
    width: auto;
    height: auto;
}

.comment-container {
    text-align: center;
}

.comment-containers {
    font-size: 14;
    border: solid 2px black;
    width: auto;
    height: auto;
    background-color: lightgray;
}

.comment {
    margin: auto;
    font-size: 18;
    width:  600px;
    height: auto;
}

.Commentairetxt{
text-align: center;
}

.Contenttxt{
    text-align: center;
}

.movedownlike{
    text-align: center;
    padding: 18%;
}